*{
    --colorbase : #2A2529;
    --colorlight : #F3F0E7;
    --colorcontrast : #f0713f;
    --primaryfont : "Outfit", sans-serif;
    --secondfont : "Urbanist", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: var(--secondfont);
    background-color: var(--colorbase);
    color: var(--colorlight);
}

header {
    display : flex;
    align-items: center;

    background-color: var(--colorbase);
    color: var(--colorlight);
    font-family : var(--primaryfont);
    padding: 1rem 2rem;
    justify-content: space-between;
    
}

header h1{
    font-size: larger;
}

header img {
    width: 32px;
    height: 32px;

}

nav {
    display: flex;
}

nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: flex-end;
}

nav a{
    text-decoration: none;
    color: var(--colorlight);
}

nav a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--colorcontrast);
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.menu-btn {
    display: none;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.hero {
    min-height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 2rem;

    background-image:
            linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
            url("../images/hero.jpg");
    
    background-size: cover;
    background-position: center;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.cursor-glow {
    position: fixed;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    filter: blur(50px);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}


#searchInput {
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
    color: var(--colorcontrast);
    border: 0px;
    transition: transform 0.2s ease;
}


#search-bar {
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    border: 0px;
    color: var(--colorcontrast);
}

#searchInput:hover {
    transform: scale(1.1);
}

#search-bar:hover {
    transform: scale(1.1);
}

#movieSection {
    display: none;
}

#movieContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

#popularmovieContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}












@media (max-width: 768px) {

    .menu-btn {
        display: block;
        color: white;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

    nav {
        display: none;
    }
    
    nav.active {
        display: block;
        position: absolute;
        top: 100%;
        right: 2rem;
        background-color: var(--colorbase);
        padding: 1rem;
    }

    nav.active ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    }

    header{
        position : relative;
    }

                
}


